
{% extends "base.html" %}

{% block titulo %} Nosotros {% endblock %}

{% block contenido %}

<div style="background-image: url('https://img.freepik.com/foto-gratis/diseno-diseno-fondo-naranja-liso-abstracto-estudio-sala-plantilla-web-informe-comercial-color-degradado-circulo-suave_1258-53296.jpg');background-size: cover;
    background-position: center;">
  <div class="p-5 bg-light">
  <div class="container">
    <h1 class="display-3">Houses in this Country Colombia </h1>
    <p class="lead">Tarea de casas Django</p>
    <hr class="my-2">
    <br>
    <div class="justify-end">

          <img src="https://i.gifer.com/origin/ec/ec7ff2b422fef7ac7a68da009e30abd5_w200.gif" height="200" width="100">



    </div>
  </div>
</div>
   <div class="p-5 bg-light">
  <div class="container">

    <p class="lead">
      <a class="btn btn-outline-success" href="{% url 'user' %}" role="button">Look Pages</a>
    </p>
  </div>
</div>
</div>

<br>
<br>




{% endblock %}







